@using DemoProject.Models;
@model DemoProject.Models.Order



@Html.DevExpress().CallbackPanel(settings =>
{
    settings.Name = "Product_pageControlCallback";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

    settings.CallbackRouteValues = new
    {
        Controller = "Home",
        Action = "_ProductTabControl_Partial",

    };

    settings.SetContent(() =>
    {
        Html.DevExpress().PageControl(Settings =>
        {
        Settings.Name = "pageControl";
        Settings.EnableClientSideAPI = true;

        Settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        Settings.EnableTabScrolling = true;
        Settings.TabAlign = TabAlign.Left;
        Settings.Styles.Tab.Wrap = DefaultBoolean.True;


        foreach (Product info in Model.Products)
        {

            MVCxTabPage page = Settings.TabPages.Add("&nbsp&nbsp" + info.ProductId.ToString() + "-"+ info.ProductName + "" + "&nbsp&nbsp", info.ProductIndex.ToString());
                
            page.SetTabTemplateContent(container1 =>
            {
                ViewContext.Writer.Write("<div style='font-weight: bold;'>" + container1.TabPage.Text +  "</div>");

            });

            page.SetContent(() =>
            {

            ViewContext.Writer.Write("<div class='row'> ");

            Model.ActiveProductIndex = info.ProductIndex;

            Html.RenderPartial("_ProductTabInfo_Partial",Model);
            ViewContext.Writer.Write("</div> ");
                
        });
                
    }
        
    MVCxTabPage page2 = Settings.TabPages.Add("  +  ", "new");
    Settings.ActiveTabIndex = Model.ActiveProductIndex;

    //var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    var data = Newtonsoft.Json.JsonConvert.SerializeObject(Model);


    Settings.ClientSideEvents.ActiveTabChanging = string.Format("function(s,e) {{ OnProductTabChange(s,e,{0},{1}); }}", data, Settings.ActiveTabIndex);


}).Render();


    });



}).GetHtml()